---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HdqCm67Xsr50PtPWKY4mqjA9u", oauth_nonce="2aa569cd0991baa9294a2ef0cd26e318",
        oauth_signature="hcFszQXrOpXxA8FvaQaZUCbN990%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450322332", oauth_token="3338474240-RzrCZOS5hYPYTX0ywhjpXntE9GeZa4FrvCP25Cs",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 03:18:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 00b23122f2cbf5abc63e64d4ea56d4fa
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1450322864'
      X-Response-Time:
      - '51'
      X-Transaction:
      - 49e9335a38565838
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3338474240,"id_str":"3338474240","name":"Sekhar Paladugu","screen_name":"SekharPaladugu","location":"Denver,
        CO","description":"Turing Student","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":11,"friends_count":15,"listed_count":1,"created_at":"Tue
        Aug 25 15:04:46 +0000 2015","favourites_count":14,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":8,"lang":"en","status":{"created_at":"Wed
        Dec 16 23:55:55 +0000 2015","id":677275997700554752,"id_str":"677275997700554752","text":"dr.
        jill built a witty twitter","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\"
        rel=\"nofollow\"\u003e- Critter -\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/640751371591880704\/xnuoAxDE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/640751371591880704\/xnuoAxDE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3338474240\/1441602409","profile_link_color":"4A913C","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 03:18:52 GMT
recorded_with: VCR 3.0.0
