---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HdqCm67Xsr50PtPWKY4mqjA9u", oauth_nonce="8e4ebd12bce7119d637ec5a3240d23e8",
        oauth_signature="5z0PArHpHo0Ouuz0JV5raVHt0Gs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450318149", oauth_token="3338474240-RzrCZOS5hYPYTX0ywhjpXntE9GeZa4FrvCP25Cs",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:09:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 37a53317fe30c88e77e9bbceb2942a12
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450319050'
      X-Response-Time:
      - '80'
      X-Transaction:
      - 890cf06973270847
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 02:00:43 +0000 2015","id":677307403126329344,"id_str":"677307403126329344","text":"The
        skyrocketing level of income and wealth inequality is not only grotesque and
        immoral, it is economically unsustainable.","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":216776631,"id_str":"216776631","name":"Bernie
        Sanders","screen_name":"BernieSanders","location":"Vermont","description":"I
        believe America is ready for a new path to the future. Join our campaign for
        president at http:\/\/t.co\/nuBuflYjUL.","url":"https:\/\/t.co\/W6f7Iy1Nho","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/W6f7Iy1Nho","expanded_url":"https:\/\/berniesanders.com","display_url":"berniesanders.com","indices":[0,23]}]},"description":{"urls":[{"url":"http:\/\/t.co\/nuBuflYjUL","expanded_url":"http:\/\/berniesanders.com","display_url":"berniesanders.com","indices":[92,114]}]}},"protected":false,"followers_count":1029539,"friends_count":1394,"listed_count":4842,"created_at":"Wed
        Nov 17 17:53:52 +0000 2010","favourites_count":593,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":4983,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EA5047","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/576114811475341312\/Q2-L3Yol.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/576114811475341312\/Q2-L3Yol.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/671446671881031680\/9rmG8Whg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/671446671881031680\/9rmG8Whg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/216776631\/1442495548","profile_link_color":"3B94D9","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"050005","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":199,"favorite_count":440,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 01:55:27 +0000 2015","id":677306080100114432,"id_str":"677306080100114432","text":"RT
        @Patrick_McCue: Not sure about you @romanmars , but I love this photograph
        of the Oakland Tribune being crowned with it''s neons. https:\/\u2026","source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        i\u039fS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_statu[...]
